{% extends "feed/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">Reccomended Post</a>
        <small class="text-muted">March 23, 2022</small>
      </div>
      <h2 class="article-title">Summer Dish</h2>
      <p class="article-content">Content on post here</p>
    </div>
  </article>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="#">Reccomended Post</a>
        <small class="text-muted">March 23, 2022</small>
        </div>
        <h2 class="article-title">Summer Dish</h2>
        <p class="article-content">Content on post here</p>
    </div>
</article>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="#">Reccomended Post</a>
        <small class="text-muted">March 23, 2022</small>
        </div>
        <h2 class="article-title">Summer Dish</h2>
        <p class="article-content">Content on post here</p>
    </div>
</article>
{% endblock content %}