{% extends "feed/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
       <div class="article-metadata">
          <a class="mr-2" href="#">Reccomended Post</a>
          <small class="text-muted">April 23, 2021</small>
       </div>
       <a href="https://www.eadt.co.uk/news/pea-porridge-receives-only-michelin-star-in-suffolk-7919860" target="blank">
          <h2 class="article-title">Pea Porridge gets Suffolks first Michelin Star</h2>
       </a>
       <p class="article-content">Pea Porridge 'flying the flag for Suffolk' as it is presented with county's only Michelin Star
          Justin Sharp, head chef-proprietor of Pea Porridge in Bury St Edmunds, described it as "just amazing" to receive the coveted Michelin award.
       </p>
    </div>
 </article>
 <article class="media content-section">
    <div class="media-body">
       <div class="article-metadata">
          <a class="mr-2" href="#">Reccomended Post</a>
          <small class="text-muted">January 24, 2022</small>
       </div>
       <a href="https://jmjry.github.io/feed/" target="blank">
          <h2 class="article-title" href="https://jmjry.github.io/feed/">Visit FEED</h2>
       </a>
       <p class="article-content">Our first physical location, Restaurant FEED opened in Oxford late January. Headed up by award-winning chef Lewis Ryan producing exclusive dishes using local produce.
          We're opening more locations in the U.K soon, keep an eye on your FEED for more details.
       </p>
    </div>
 </article>
 <article class="media content-section">
    <div class="media-body">
       <div class="article-metadata">
          <a class="mr-2" href="#">Reccomended Post</a>
          <small class="text-muted">February 10, 2022</small>
       </div>
       <a href="https://www.bbc.co.uk/food/recipes/vegan_thai_green_curry_69640" target="blank">
          <h2 class="article-title">Recipe of the month - Vegan Thai Green Curry</h2>
       </a>
       <p class="article-content">Take a look at our recipe of the month by Lucy Parker - This vegan Thai green curry is quick and easy to make, and packed with flavour and fragrance to give you a real taste of Thailand.</p>
    </div>
 </article>
 <article class="media content-section">
    <div class="media-body">
       <div class="article-metadata">
          <a class="mr-2" href="#">Reccomended Post</a>
          <small class="text-muted">March 23, 2022</small>
       </div>
       <a href="https://www.eadt.co.uk/news/business/suffolk-pub-chain-snaps-up-two-pubs-8372208" target="blank">
          <h2 class="article-title">Pub chain to open two new pubs in East Anglia</h2>
       </a>
       <p class="article-content">An upbeat hospitality boss is planning to open two new pubs in East Anglia next year - despite a host of supply chain hold-ups.
          Philip Turner, founder of the Chestnut Group, is meticulously planning building works at two new pubs in Norfolk and Cambridgeshire as he increases the size of the chain from 12 to 14 hostelries across the region.
       </p>
    </div>
 </article>
 <article class="media content-section">
    <div class="media-body">
       <div class="article-metadata">
          <a class="mr-2" href="#">Reccomended Post</a>
          <small class="text-muted">March 27, 2022</small>
       </div>
       <h2 class="article-title">Blogger of the Year</h2>
       <p class="article-content">Coming soon....</p>
    </div>
 </article>
{% endblock content %}